<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>LCES Topoff</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Add banner at the top -->
    <div class="banner">
        <div class="banner-content">
            <img src="/img/LCES.png" alt="LCES Logo" class="logo">
            <h1 class="banner-title">LCES Topoff</h1>
        </div>
    </div>

    <div>
        To topoff your account please use one of the following methods:    
        <ul>
            <li>Make a Bank transfer to the following account : <strong>BE12 1234 1234 1234</strong> using the communication : <strong><%= account %></strong><div></li>
            <li>Press on this button 
                <button onclick="window.location.href='https://example.com/topoff'">Topoff Now</button>
            </li>
        </ul>
    </div>
</body>
</html>
